

/* body element */
	body {
	background-color : #FFFFFF;
	color : #666666;
	font-family : Verdana, Arial, sans-serif;
	font-size: 100%;
}
header, nav, main, footer
{
	display: block;
}

h1 {
	background-color: rgb(178, 27, 0);
	color: white;
	text-align: center;
	padding: 8px;
}
	h2 {
		background-color: rgb(178, 27, 0);
		color: white;
		text-align: center;
		padding: 8px;
	}
/* nav element  */
	nav {
	font-weight : bold;
	padding: 20px 5px 0px 20px;
	text-decoration: none;
	float: left;
	background-size : 10%;
}

	td {
		text-align: left;
		padding: 4px;
	}
	th {
		background-color: rgb(255, 99, 71);
		color: white;
        text-align: center;
		padding: 4px;
	}
